[user]
    name = Alex T
    email = aletapia@proton.me
[pull]
    rebase = false
[core]
    ignorecase = false
    excludesfile = /Users/ale/.gitignore_global
[init]
    defaultBranch = master
[push]
    autoSetupRemote = true
[color]
    ui = auto
[fetch]
    prune = true
[pull]
    ff = only
[diff]
    external = difft
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
