[user]
    name = Alex T
    email = aletapia@proton.me
[core]
    ignorecase = false
    excludesfile = /Users/ale/.gitignore_global
[include]
    path = ~/.alex-dotfiles/delta/delta.gitconfig
    path = ~/.alex-dotfiles/delta/themes.gitconfig
[init]
    defaultBranch = master
[push]
    autoSetupRemote = true
[color]
    ui = auto
[fetch]
    prune = true
[pull]
    ff = only
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
