[user]
	name = Alex T
	email = aletapia@proton.me
[core]
    ignorecase = false
    excludesfile = /Users/ale/.gitignore_global
[include]
    path = ~/.alex-dotfiles/delta/delta.gitconfig
    path = ~/.alex-dotfiles/delta/themes.gitconfig
[init]
    defaultBranch = master
[push]
    autoSetupRemote = true
[color]
    ui = auto
[fetch]
    prune = true
[pull]
    ff = only
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
# github diff viewer added this
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	excludesfile = /Users/ale/.gitignore_global
[alias]
	diff-no-lock = diff -- . \":(exclude)*.lock\"
